.settings__setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings__setting i {
  opacity: 0.8;
  margin-right: 20px;
  font-size: 22px;
}
.settings__setting-column:last-child {
  opacity: 0.5;
}
.version {
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.privacy {
  padding-top: 50px;
}
.settings__N {
  background-color: tomato;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 14px;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
